{{>partials/header}}

	<h2>Cuidados com Cachorros</h2>
	<p>Os cachorros precisam de alimentação adequada, exercícios físicos regulares, banhos e cuidados com a higiene e também visitas regulares ao veterinário.</p>
		
{{>partials/footer}}
